:root {
  --blue: #0a1045;
  --babyblue: #00858f;
  --yellow: #f9e900;
  --white: #ebe8e6
}

body {
  background-color: var(--gray);
  font-family: 'Ubuntu', sans-serif;
  color: white;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}



button:hover {
  opacity: .8;
}

button[disabled] {
  cursor: default;
  opacity: .8;
}

.modalBackdrop {
	background: var(--blue);
	bottom: 0;
	left: 0;
	overflow: auto;
	position: fixed;
	right: 0;
	top: 0;
	z-index: 1;
}

.modalContainer {
	background: var(--darker);
	border-radius: 5px;
	max-width: 100%;
	margin: 50px auto;
	padding: 15px;
	width: 300px;
}

.modalTitle {
	font-size: 18px;
	font-weight: 600;
	margin-bottom: 25px;
}


nav a:hover {
  text-decoration: none;
}

.navActive {
  color: var(--yellow);
}

button {
  margin: 20px 0px 0px 0px;
  border: 1px solid #2185d0;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  background-color: white;
  width: 140px;
}